h1{
    background-color: black;
    height: 300px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blanchedalmond;
}
h2{
    background-color: pink;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 200px;
}